* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #8f6b09;
}

header {
    background: #111;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
}

.hero {
    /*background: url('https://via.placeholder.com/1200x400') no-repeat center center/cover;*/
    color: #8f6b09;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5rem;
}

.sobre, .eventos, .contato {
    padding: 60px 20px;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.evento {
    width: 200px;
    height:30px;
    border-radius: 10px;
    background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #111;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #f39c12;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

.redes a {
    color: #f39c12;
    margin: 0 5px;
    text-decoration: none;
}
